<h3 class="text-center">Atualizar Cadastro</h3>
<form [formGroup]="editForm" class="form mt-4" >
  <div class="d-flex flex-column">
    <div class="d-flex align-self-stretch">
      <div class="form-group d-inline-block col-lg-6 col-sm-12">
        <label for="name">Nome</label>
        <input id="name" formControlName="firstName" placeholder="Nome" class="form-control">
        <ap-vmessage
          *ngIf="editForm.get('firstName').errors?.required && editForm.get('firstName').touched"
          text="Nome é obrigatório" >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="editForm.get('firstName').errors?.minlength && editForm.get('firstName').touched"
          text="Tamanho minimo é 2" >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="editForm.get('firstName').errors?.maxlength && editForm.get('firstName').touched"
          text="Tamanho máximo é 40" >
        </ap-vmessage>
      </div>

      <div class="form-group d-inline-block col-lg-6 col-sm-12">
        <label for="name">Sobrenome</label>
        <input id="lastName" formControlName="lastName" placeholder="Sobrenome" class="form-control">
        <ap-vmessage
          *ngIf="editForm.get('lastName').errors?.minlength && editForm.get('lastName').touched"
          text="Tamanho minimo é 2" >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="editForm.get('lastName').errors?.maxlength && editForm.get('lastName').touched"
          text="Tamanho máximo é 40" >
        </ap-vmessage>
      </div>
    </div>
    <div class="d-flex align-self-stretch">
      <div class="form-group d-inline-block col-lg-6 col-sm-12">
        <label for="email">Email</label>
        <input id="email" formControlName="email" placeholder="Email" class="form-control">
        <ap-vmessage
          *ngIf="editForm.get('email').errors?.required && editForm.get('email').touched"
          text="Email é obrigatório" >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="editForm.get('email').errors?.email && editForm.get('email').touched"
          text="Email inválido" >
        </ap-vmessage>
      </div>

      <div class="form-group d-inline-block col-lg-6 col-sm-12">
        <label for="phone">Telefone</label>
        <input id="phone" formControlName="phone" placeholder="Telefone" class="form-control">
        <ap-vmessage
          *ngIf="editForm.get('phone').errors?.pattern && editForm.get('phone').touched"
          text="Telefone inválido" >
        </ap-vmessage>
        <ap-vmessage
          *ngIf="editForm.get('phone').errors?.minlength && editForm.get('phone').touched"
          text="Tamanho minimo de 10" >
        </ap-vmessage>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button [disabled]="editForm.invalid" (click)="atualizar()" type="button" pButton label="Atualizar"></button>
  </div>

</form>
