<h4 class="text-center">Alcance mais gastando menos, comece a controlar hoje</h4>
<form #form="ngForm" [formGroup]="signupForm" class="form mt-4" >

  <div class="form-group">
    <input #emailInput formControlName="email" placeholder="Email" class="form-control" autofocus (submit)="signup()">
    <ap-vmessage
      *ngIf="signupForm.get('email').errors?.required && signupForm.get('email').touched"
      text="Email é obrigatório" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('email').errors?.email && form.submitted"
      text="Email inválido" >
    </ap-vmessage>
  </div>

  <div class="form-group">
    <input formControlName="firstName" placeholder="Nome" class="form-control">
    <ap-vmessage
      *ngIf="signupForm.get('firstName').errors?.required && form.submitted"
      text="Nome é obrigatório" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('firstName').errors?.minlength && form.submitted"
      text="Tamanho minimo de 2" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('firstName').errors?.maxlength && form.submitted"
      text="Tamanho máximo de 40" >
    </ap-vmessage>
  </div>

  <div class="form-group">
    <input formControlName="lastName" placeholder="Sobrenome" class="form-control">
    <ap-vmessage
      *ngIf="signupForm.get('lastName').errors?.minlength && form.submitted"
      text="Tamanho minimo de 2" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('lastName').errors?.maxlength && form.submitted"
      text="Tamanho máximo de 40" >
    </ap-vmessage>
  </div>

  <div class="form-group">
    <input formControlName="username" placeholder="Usuario" class="form-control">
    <ap-vmessage
      *ngIf="signupForm.get('username').errors?.required && form.submitted"
      text="Username é obrigatório" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('username').errors?.minlength && form.submitted"
      text="Tamanho minimo de 2" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('username').errors?.maxlength && form.submitted"
      text="Tamanho máximo de 30" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('username').errors?.userNameTaken"
      text="Usuário indisponivel" >
    </ap-vmessage>
    <small *ngIf="signupForm.get('username').valid" class="text-success">Usuário disponivel</small>
  </div>

  <div class="form-group">
    <input formControlName="password" type="password" placeholder="Senha" class="form-control">
    <ap-vmessage
      *ngIf="signupForm.get('password').errors?.required && form.submitted"
      text="Senha é obrigatória" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('password').errors?.minlength && form.submitted"
      text="Tamanho minimo de 8" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="signupForm.get('password').errors?.maxlength && form.submitted"
      text="Tamanho máximo de 14" >
    </ap-vmessage>
  </div>

  <button (click)="signup()" class="btn btn-primary btn-block">Cadastrar</button>

  <p>Já é usuário?
    <a [routerLink]="['/signin']"> Login</a>
  </p>
</form>
