<form [formGroup]="passwordForm" class="form pt-4 col-4 m-auto" (submit)="saveNewPassword()">
  <div class="form-group">
    <label for="pass">Senha</label>
    <input
      id="pass"
      formControlName="password"
      type="password" class="form-control" pInputText>
    <ap-vmessage
      *ngIf="passwordForm.get('password').errors?.required && passwordForm.get('password').touched"
      text="Campo obrigatório" >
    </ap-vmessage>
  </div>
  <div class="form-group">
    <label for="passConfi">Repetir Senha</label>
    <input
      id="passConfi"
      formControlName="passwordConfirmation"
      type="password"
      class="form-control" pInputText>
    <ap-vmessage
      *ngIf="passwordForm.get('passwordConfirmation').errors?.required && passwordForm.get('passwordConfirmation').touched"
      text="Campo obrigatório" >
    </ap-vmessage>
    <ap-vmessage
      *ngIf="passwordForm.errors?.differentPasswords"
      text="As senhas devem ser iguais" >
    </ap-vmessage>
  </div>
  <div class="d-flex justify-content-end">
    <p-button [disabled]="passwordForm.invalid" type="submit" label="Salvar"></p-button>
  </div>
</form>
